.popup__aboutname {
    border: none;
    border-bottom: 1px solid #000;
    opacity: 0.2;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    min-width: 358px;
    padding: 0;
    margin: 40px auto 0;
}
@media screen and (max-width: 767px) {
    .popup__aboutname {
        min-width: 238px;
    }
}