.profile__info {
    margin-left: 30px;
    display: grid;
    grid-template-columns: minmax(min-content, max-content) minmax(min-content, max-content);
    gap: 10px;    
}
@media screen and (max-width: 950px) {
    .profile__info {
        gap: 7px;
        margin-left: 0;
        margin-top: 26px;
        max-width: 282px;
    }
}