.element__group {
    min-width: 22px;
    background-size: cover;
    background-image: url(../../../images/like.svg);
    padding: 0;
    border: 0;
    padding-top: 19px;
    margin-right: 5px;   
    cursor: pointer;
}
.element__group:hover {
    opacity: 0.5;
}