.element__delete {
  background-color: rgba(0, 0, 0, 0);
  position: absolute;
  margin-right: 20px;
  margin-top: 20px;
  width: 20px;
  height: 20px;
  background-size: cover;
  background-image: url(../../../images/delete.png);
  align-self: flex-end;
  justify-self: flex-end;
  border: 0;
  
  
  }
  
  .element__delete:hover {
    transition: 0.35s;
    opacity: 0.5;
    cursor: pointer;
  }
  