.profile__editbutton {
    width: 24px;
    box-sizing: border-box;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url(../../../images/Editbutton.svg);
    border: 1px solid #fff;
    margin: 0 0 9px 18px;
    padding-top: 24px;
}
.profile__editbutton:hover {
    opacity: 0.6;
}
@media screen and (max-width: 767px) {
    .profile__editbutton {
        width: 18px;
        padding-top: 18px;
        margin: 0 0 7px 10px;    
    }
}